.top{
    background-image: url(../media//images/headbg.jpg);
    height: 60vh;
    display: flex;
    align-items: flex-start;
    padding: 9vh 8.5vw;
    flex-direction: column;
    color: wheat;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .carousel {
    width: 100vw;
    /* height: 100vh; */
    position: relative;
    display: flex;
    /* overflow: hidden; */
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* make the slides a flex container */
    width: 400%; /* set the width to three times the carousel width */
    transition: transform 500ms ease-in-out; /* animate the transform property */
  }
  
  .slide {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    flex-shrink: 0; /* prevent the slides from shrinking */
    transition: opacity 500ms ease-in-out; /* animate the opacity property */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  
  .slide > img {
    display: block;
    width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }

  .slide > .cardd {
    display: block;
    width: 300px;
    /* height: 100px; */
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
  }
  
  .slide[data-active][style*="transform: translateX("] {
    transform: translateX(0%);
  }
  
  .slide[data-active][style*="transform: translateX(-100%)"] {
    transform: translateX(100%);
  }
  
  .slide[data-active][style*="transform: translateX(100%)"] {
    transform: translateX(-100%);
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }
  




















